body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root{
    --black: black;
    --white: white;
    --purple: purple;
    --blue: rgb(1,0,85);
    --cyan: cyan;
    --orange: orange;
    --grey: rgb(126, 126, 126);
}

.marg{
    height: 240px;
    width: 100%;
    margin: 0;
    background-image: url('data.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  

.box{
    height: 150px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-writing{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-writing p{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--white);
}

.container-button{
    height: 20%;
    width: 30%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-acceuil{
    height: auto;
    width: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-acceuil::before{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--blue);
    transition: all 0.1s linear;
}

.button-acceuil:hover::before{
    animation: remplissage 0.1s linear forwards;
}

.button-acceuil:hover a{
    color: var(--white);
}

.button-acceuil a{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

@keyframes remplissage{
    from{
        left: 0;
        width: 0;
    }

    to{
        left: 0;
        width: 100%;
    }
}

.container-all{
    height: 130rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-main{
    height: 100%;
    width: 100%;
    padding-bottom: 8rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-legende{
    height: 15%;
    width: 50%;
    margin-top: 0%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container-all_content{
    height: 90%;
    width: 18%;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point-red{
    width: 3vw;
    height: 6vh;
    border: none;
    border-radius: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-egal{
    height: 90%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-egal a{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--white);
}

.container-phrase{
    height: 90%;
    width: 73%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-phrase a{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--white);
}

.point-green{
    width: 3vw;
    height: 6vh;
    border: none;
    border-radius: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-2{
    height: 70rem;
    width: 80%;
    margin-top: 0%;
    overflow: hidden;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-project{
    height: 20%;
    width: 90%;
    margin: 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-project a{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: var(--white);
}

.container-list{
    height: 20%;
    width: 90%;
    margin: 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.container-list a{
    font-size: 27px;
    font-family: monospace;
    font-weight: normal;
    color: var(--white);
}

.container-main-3{
    height: 50rem;
    width: 80%;
    margin-top: 2%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-text-futur{
    height: 20%;
    width: 90%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text-futur a{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: var(--white);
}

.container-listage{
    height: 20%;
    width: 90%;
    margin: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.container-listage a{
    font-size: 27px;
    font-family: monospace;
    font-weight: normal;
    color: var(--white);
}

.container-marg-bottom{
    height: 15rem;
    width: 100%;
    margin-top: 0px;
    border: none;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

.container-text-credit{
    height: 30%;
    width: 18%;
    margin: 4%;
    margin-left: 10%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    
}

.container-text-credit a{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--white);
}

.container-text-dev{
    height: 20%;
    width: 40%;
    margin-left: 10%;
    margin-top: -3%;
    display: flex;
    align-items: center;
}

.container-text-dev a{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.753);
}






















